<!DOCTYPE html>
<html>
<head>
<title>编辑机构</title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">		
		<div class="form-group">
		   	<div class="col-sm-2 control-label">机构名称</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="org.orgName" placeholder="机构名称"/>
		    </div>
		</div>
<!-- 		<div class="form-group">
		   	<div class="col-sm-2 control-label">所属公司</div>
		   	<div class="col-sm-10">
		   	  <input type="text" class="form-control" value="北京外企服务集团"/>
		    </div>
		</div> -->
<!-- 		<div class="form-group">
			<div class="col-sm-2 control-label">上级机构</div>
		   	<div class="col-sm-10">
		       <input type="text" class="form-control" style="cursor:pointer;" v-model="org.parentName" @click="orgTree" readonly="readonly" placeholder="请选择"/>
		    </div>
		</div> -->
		<div class="form-group">
		   	<div class="col-sm-2 control-label">机构简称</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="org.shortName" placeholder="机构简称"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">描述</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="org.description" placeholder="描述"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">地址</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="org.address" placeholder="地址"/>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
	</form>
</div>

<!-- 选择机构 -->
<div id="orgLayer" style="display: none;padding:10px;">
	<ul id="orgTree" class="ztree"></ul>
</div>
<!-- 选择公司 -->
<div id="corpLayer" style="display: none;padding:10px;">
	<ul id="corpTree" class="ztree"></ul>
</div>

<script src="${rc.contextPath}/js/base/org_add.js?_${date.systemTime}"></script>
</body>
</html>